<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <h1>cosa devo fare oggi?</h1>
        <div class="add">
            <input type="text" placeholder="aggiungi nuova cosa da fare" class="add-text" v-model="newTodo" @keyup.enter="addObject(newTodo)">
            <button @click="addObject(newTodo)">aggiungi</button>
        </div>
      <h6>clicca per sbarrare le cose che hai fatto</h6>
        <ul>
            <template v-for="(item) in toDoObject">
                <li :class="{'lineTrough':item.done}" @click="addToDo(item)">
                    {{item.text}}
                </li>
            </template>
           
        </ul>

    </div>

    <script src="js/script.js"></script>
</body>
</html>